{% extends 'partials/base.html' %}
{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3">
        <div class="border p-3 bg-white">
            <h4>Password Reset Complete</h4>
            <hr>
            <div class="alert alert-success">
                <i class="fas fa-check-circle"></i> Your password has been set. You may go ahead and log in now.
            </div>
            <a href="{% url 'user:login' %}" class="btn btn-primary">Log In</a>
        </div>
    </div>
</div>
{% endblock %}